<!DOCTYPE html>
<html ng-app="mainPage">
<head>
	<title>Alex Fuhr</title>
	<script src="bower_components/platform/platform.js"></script>
	<link rel="stylesheet" href="bower_components/flexslider/flexslider.css" type="text/css">
	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/flexslider/jquery.flexslider.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-flexslider/angular-flexslider.js"></script>
	<script src="app.js"></script>
	<link rel="import" href="bower_components/font-roboto/roboto.html">
	<link rel="import" href="bower_components/core-header-panel/core-header-panel.html">
	<link rel="import" href="bower_components/core-toolbar/core-toolbar.html">
	<link rel="import" href="bower_components/paper-shadow/paper-shadow.html">
	<link rel="import" href="bower_components/paper-fab/paper-fab.html">
	<link rel="import" href="bower_components/core-icons/core-icons.html">
	<link rel="import" href="bower_components/paper-tabs/paper-tabs.html">
	<link rel="import" href="bower_components/core-icon-button/core-icon-button.html">
	<link rel="import" href="bower_components/core-menu/core-menu.html">
	<link rel="import" href="bower_components/core-item/core-item.html">
	<link rel="import" href="bower_components/core-drawer-panel/core-drawer-panel.html">
	<link rel="import" href="info-card.html">
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body ng-controller="ctrl">
<core-header-panel>
	<core-toolbar class="medium-tall">
	<core-icon-button icon="menu" onclick="document.querySelector('core-drawer-panel').togglePanel();"></core-icon-button>
	<div flex>
	<h1>Alex Fuhr</h1>
	</div>
	<i>engineer, developer, maker</i>
	<div class="bottom fit" horizontal layout>
		<paper-tabs selected="0" flex>
			<paper-tab>Blog</paper-tab>
			<paper-tab>About Me</paper-tab>
			<paper-tab>Projects</paper-tab>
			<paper-tab>Resume</paper-tab>
		</paper-tabs>
	</div>
	</core-toolbar>
	<paper-shadow z="2"></paper-shadow>
	<div content ng-if="page">
		<core-drawer-panel>
		<div drawer>
			<core-menu>
				<core-item ng-repeat="card in page.cards" label={{card.title}}></core-item>
			</core-menu>
			<paper-shadow z="3"></paper-shadow>
		</div>
		<div main>
			<info-card ng-repeat="card in page.cards" headerColor="{{card.color}}">
				<h2>{{card.title}}</h2>
				<p ng-repeat="paragraph in card.paragraphs" ng-bind-html="paragraph | unsafe"></p>
				<flex-slider ng-if="card.images" animation="slide" slide="img in card.images">
					<li>
						<img ng-src="{{img}}">
					</li>
				</flex-slider>
			</info-card>
		</div>
	</div>
</core-header-panel>
</div>
</body>
</html>
