html, body {
	height: 100%;
	margin: 0;
	font-family: 'RobotoDraft', sans-serif;
	background: #CCC;
	background-image:url('images/circuit-background.png');
	background-repeat: repeat;
}
.scarlet {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 350px;
	background: #ff4444;
	color: #fff;
	text-align: center;
}
#tagline {
	font-size: 150%;
}
core-header-panel {
	height: 100%;
}
[drawer] {
	background: #ccc;
}
core-toolbar {
	height: 100%;
	color: #fff;
	background: #aa0000;
	text-align: center;
}
.profilepic {
	height: 50px;
}
core-toolbar h1 {
	padding: 5px;
}
core-toolbar i {
	text-align: right;
}
paper-tabs {
	background: #cc4444;
	color: #eeeeee;
}
.sidebar-menu {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}
.sidebar-menu > li {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
	list-style-position: inside;
	text-align: center;
}
.sidebar-menu > li > a {
	text-decoration: none;
	color: inherit;
}
core-menu > a:nth-child(odd) {
	background: rgba(255,255,255,0.5);
}
core-menu > a:nth-child(even) {
	background: rgba(255,0,0,0.5);
}
info-card {
	float: left;
	width: 97%;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
@media (min-width: 1000px) {
	info-card {
		width: 47%;
	}
}
.top-right-fab {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 999;
	background: #ddd;
	color: #000;
}
